<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" id="content">
			<div class="alert alert-info" ng-if="message">
				<strong>{{message}}</strong>
			</div>
			<div class="alert alert-danger" ng-if="errorMessage">
				<strong>{{redirectMessage}}</strong>
			</div>
			{{token}} {{temail}}
			<hr>
			<form name="changePasswordForm" class="form-horizontal" ng-submit="changePassword()" novalidate>
				<fieldset>
					<legend><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</legend>
					<div class="form-group" ng-class="{'has-error' : password.new.length < characters}">
						<label for="newPassword" class="col-lg-5 control-label">New Password (required)</label>
						<div class="col-lg-5">
							<input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="password.new" ng-required="true">
							<span class="form group help-block">Must be at least {{characters}} characters long</span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error' : password.new !== password.confirm}">
						<label for="confirmNewPassword" class="col-lg-5 control-label">Confirm New Password (required)</label>
						<div class="col-lg-5">
							<input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" ng-model="password.confirm" ng-required="true">
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-5">
							<button type="submit" class="btn btn-primary" ng-disabled="password.new.length < characters || password.new !== password.confirm ||changePasswordForm.$invalid">Change Password</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>